#add-form {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-form-body-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #d9d9d9 solid 1px;
    border-radius: 20px;
    width: 450px;
}

.add-form-elem {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 395px;

    padding: 10px 10px 10px 10px;
}

.add-form-elem h1 {
    text-align: center;
}

.add-form-elem input {
    background: #E2E2E2;
    border-radius: 10px;
    border: grey solid 1px;
    height: 2vw;
    min-height: 40px;
    width: 20vw;
    min-width: 350px;
    max-width: 395px;
    max-height: 92px;
    margin: 5px 0 5px 0;
    padding: 0 0 0 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.add-form-elem label {
    text-align: start;
    width: 100%;
}


.add-form-elem button {
    background: #d9d9d9;
    border-radius: 40px;
    border: #d9d9d9 solid 2px;
    height: 50px;
    width: 150px;
    margin: 5px 0 5px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
}

.add-form-elem button:hover {
    background: #69A6E3;;
    border: #69A6E3 solid 2px;
}