#ch-main-body-div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}

#ch-main-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 20px 0;
}

#ch-checkout-product-div {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.ch-checkout-product {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    text-align: center;
    border: solid 2px #494848;
    border-radius: 20px;

    margin: 10px 10px;

    min-width: 220px;
    max-width: 320px;
}

.ch-product-image-div {
    display: flex;
    flex-direction: column;

    flex-basis: 240px;
    flex-shrink: 1;
}

.ch-href-container {
    text-decoration: none;
    color: black;
}

.ch-product-image {
    border-radius: 20px;
    margin: 20px;
    width: calc(100% - 40px);
}

.ch-product-info-div {
    display: flex;
    flex-direction: column;

    margin: 20px;

    flex-basis: 65%;
    flex-shrink: 10;
}

.ch-info-name {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.ch-info-name span {
    width: 100%;
    text-align: center;
}

.ch-info-description {
    text-align: start;
    margin-top: 20px;
}

.ch-price-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-basis: 10%;
    flex-shrink: 3;
    margin: 10px 40px;
}

.ch-price-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin: 10px 0;
}

.ch-price-span-1 {
    font-size: 40px;
    font-weight: 700;
}

.ch-price-span-2 {
    font-size: 28px;
    font-weight: 500;
}

.ch-button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin: 10px 0;
}

.ch-delete-product-img{
    width: 20px;

    cursor: pointer;
}