#dv-main-body-div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}

#dv-main-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 20px 0;
}

#dv-devices-product-div {
    display: flex;
    flex-direction: column;
}

.dv-devices-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: black;
    text-align: center;
    border: solid 2px #494848;
    border-radius: 20px;

    margin: 10px 10px;

}

.dv-product-image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 120px;
    margin: 10px;
}

.dv-image-name-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.dv-name-span {
    font-size: 15px;
    height: 20px;
}

.dv-name-input {
    display: none;

    height: 16px;
    width: 80px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    padding-left: 5px;
    margin: 0 2px;

    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.dv-name-img {
    width: 20px;
    height: 20px;
    margin: 0 2px;

    cursor: pointer;
}

.dv-name-cancel-img, .dv-name-confirm-img {
    display: none;
}

.div-image-device {
    width: 160px;
    margin: -30px 0 -40px 0;
    z-index: 0;
}

.dv-product-info-div {
    display: flex;
    flex-direction: row;

}

.dv-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 120px;
    width: 250px;
    margin: 10px;

    border: 2px solid #C4C4C4;
    border-radius: 30px;

    cursor: pointer;
}

.dv-info-container:hover {
    border: 2px solid #69A6E3;
}

.dv-container-image {
    width: 100px;
}

.dv-product-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
}

.dv-more-info-button {
    border-radius: 10px;
    padding: 10px 10px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;

    border: solid 1px #73B43E;
    background: #73B43E;
    color: #E2E2E2;

    cursor: pointer;
}

.dv-more-info-button:hover {
    background: #E2E2E2;
    color: #73B43E;
}

@media only screen and (max-width: 1400px) {
    .dv-devices-product {
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px) {
    .dv-product-info-div {
        flex-direction: column;
    }
    .dv-devices-product {
        width: 280px;
    }
    #dv-devices-product-div {
        flex-direction: row;
        overflow-x: auto;
        height: auto;
    }
}