.background-dog-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-img {
    width: 100%;
    height: 100%;
}

#foreground-img {
    position: absolute;
    width: 66vw;
    z-index: auto;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}

#slogan h1{
    color: white;
    font-size: 5vw;
}

