#ids-form-body{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}


#info_app h2{
    font-weight: 700;
    font-size: 36px;

    padding-left: 93px;
}


#produit img{
    position: relative;
    width: 14em;
    top:-3em;
    left: 5em;
}


.grid3{

    margin: -5em 3em 0 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}
.case{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 34px;
    padding-bottom: 2em;
}


.case img{
    position: relative;
    width: 4em;
    margin-top: .5em;
    margin-left: 1em;
}

.case .graph > div{
    position: relative;
    width: 338px;
    height: 174px;
    background: #D9D9D9;
    left: 50%;
    top: 6em;
    margin-left: 2px;
    transform: translate(-50%, -50%)
}

.case h3{
    font-weight: 700;
    font-size: 16px;
    margin-top:-3.5em ;
    margin-left: 6em;
}

.case p{
    font-weight: 700;
    font-size: 15px;

    margin-left: 7em;
    color: #06DB1C;
}

.case h4{
    text-align: center;
    margin-top: -20px;
}

.case button {
    position: relative;
    width: 60px;
    top: -40px;
    left: 120px;
  border: 1px solid rgb(87, 84, 84);
  border-radius: 5px;
  color: white;
  background-color: #918D8D;
}

.case button:hover{
    background: #1E45A9;
}



#date{
    position: relative;

    left: 85px;
}

#date button{
    background-color: rgb(3, 127, 136);
}

#date button:hover{
    background: #1E45A9;
}


@media screen and (max-width: 1230px){
    .grid3{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media screen and (max-width: 830px){
    .grid3{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
    }
}

