.lg-main-body-div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}

.lg-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.lg-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    width: 30%;
}

.lg-staff-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    width: calc(100% - 40px);
}

.lg-staff-div {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
}