#sh-main-body-div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;
}

#sh-main-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 20px 0;
}

.sh-product-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    color: black;
    text-align: center;
    border: solid 2px #494848;
    border-radius: 20px;

    margin: 10px 0;

    width: calc(100% - 4px);
}

.sh-href-container {
    text-decoration: none;
    color: black;
}

.sh-product-image-div {
    display: flex;
    flex-direction: column;

    flex-basis: 240px;
    flex-shrink: 1;
}

.sh-product-image {
    border-radius: 20px;
    margin: 20px;
    width: calc(100% - 40px);
}

.sh-product-image-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    background: black;
    border-radius: 20px;

    transition: visibility 0.4s, opacity 0.4s;
}

.sh-product-image-background span {
    color: white;
    opacity: 1;
}

.sh-product-image:hover + .sh-product-image-background, .sh-product-image-background:hover {
    visibility: visible;
    opacity: 0.4;
}

.sh-product-info-div {
    display: flex;
    flex-direction: column;

    margin: 20px;

    flex-basis: 65%;
    flex-shrink: 10;
}

.sh-info-name {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.sh-info-name span {
    width: 100%;
    text-align: start;
    font-size: 24px;
}

.sh-info-description {
    text-align: start;
    margin-top: 20px;
}

.sh-info-description p {
    width: 100%;
    margin: 0;
}

.sh-price-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-basis: 10%;
    flex-shrink: 3;
    margin: 10px 40px;
}

.sh-price-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin: 10px 0;
}

.sh-price-span-1 {
    font-size: 40px;
    font-weight: 700;
}

.sh-price-span-2 {
    font-size: 28px;
    font-weight: 500;
}

.sh-button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin: 10px 0;
}

.sh-button-div button {
    border-radius: 10px;
    height: 45px;
    width: 90px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;

    border: solid 1px #73B43E;
    background: #73B43E;
    color: #E2E2E2;

    cursor: pointer;
}

.sh-button-div button:hover {
    background: #E2E2E2;
    color: #73B43E;
}


