


* {
    padding: 0;
    margin: 0;
  }
  
img{
    width: 2%;
}

#shop h1{
    font-weight: 700;
    font-size: 48px;
  text-align: center;

    color: #69A6AA;

}

#shop h2{
    font-weight: 700;
    font-size: 40px;
    font-weight: 400;
    font-size: 48px;
    color: #69A6AA;
    padding-left: 8.2em;
}

#shop h3{
    position: relative;
    font-weight: 700;
    font-size: 40px;
    top: -1.2em;
    margin-left: 21em;
}



.mainbox{
    position: relative;
border: 1px solid #494848;
border-radius: 20px;
width: 324px;
height: 300px;
left: 2em;
top: -5.2em;
}

.mainbox img{
    position: relative;
    top: 48px;
    width: 20em;
}

.grid2{
    margin-top: -20em;
    padding-left: 400px;
    padding-right: 400px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;

}

.box{
    width: 179px;
    height: 59px;
    border: none;
    border: 1px solid #BBBBBB;
    background-color: white;
    border-radius: 20px;
}



button[class=box]:hover{
    background-color: rgb(247, 247, 188);
}

button[id="buy"],button[id="basket"]{
    border: none;
    width: 297px;
    height: 62.18px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FFB800;
    border-radius: 72px;
}

button[id="buy"]{
    background: #FF5C5C;
}

button[id="buy"]:hover,button[id="basket"]:hover{
    filter:sepia(5)
}

#shop ul{
    padding-left: 26.6em;
    padding-top: 2em;
}

#shop li{
    float: none;
    font-weight: 400;
    font-size: 24px;
 

}



.box img{
    position: relative;
    width: 80px;
    top:-45px;
    right: 40px;
}


figcaption{
    position: relative;
    left:35px;
    top: 5px;
    font-weight: 400;
    font-size: 20px;
}


figcaption span{

    color: #927979;
}




/* Changements de position lorsque la fenetre est supérieur à 1230px */
@media screen and (max-width: 1290px){
    #shop button[id="buy"],button[id="basket"]{
        position: relative;
        top: 150px;
        right: 330px;

    }
}

