#site-footer-main-div {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}


.site-footer-top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px 20px 60px;
}

#site-footer-first-colum, #site-footer-second-colum, #site-footer-third-colum, #site-footer-fourth-column{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    font-size: 20px;
    padding: 0 10px 0 10px;
}

#site-footer-first-colum a, #site-footer-second-colum p, #site-footer-third-colum p {
    color: white;
}

#site-footer-second-colum a, #site-footer-third-colum a {
    color: grey;
}

#site-footer-first-colum a, #site-footer-second-colum a, #site-footer-third-colum a {
    margin: 5px 0 5px 0;
}

#site-footer-second-colum p, #site-footer-third-colum p {
    margin: 0 0 10px 0;
}

.site-footer-img-div-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.site-footer-img-div-1 a {
    display: flex;
    justify-content: center;
}

.site-footer-img-div-1 img {
    max-width: 100%;
    width: 40px;
    margin: 0 10px 10px 10px;
}

.site-footer-img-div-2 a {
    display: flex;
    justify-content: center;
}

.site-footer-img-div-2 img {
    max-width: 300px;
    min-width: 180px;
}

#site-footer-bottom-div {
    margin: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

#site-footer-bottom-div a {
    color: grey;
}

#site-footer-first-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#site-footer-first-row a, #site-footer-second-row-2 a {
    padding: 10px 15px 10px 0;
}

#site-footer-second-row-1 p {
    color: white;
    margin: 0 0 0 0;
    padding: 10px 15px 10px 0;
}

#site-footer-second-row, #site-footer-second-row-1, #site-footer-second-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#site-footer-second-row-1 {
    justify-content: left;
}

#site-footer-second-row-2 {
    justify-content: right;
}

@media only screen and (max-width: 960px) {
    .site-footer-top-div {
        flex-direction: column;
    }

    #site-footer-first-row {
        flex-direction: row;
        justify-content: space-between;
    }
}