/* font-family: 'Inter', sans-serif;*/
/* min-size: 960 px*/
/*php -S localhost:4000*/

body {
    margin: 0 0 0 0;
    min-width: 400px;
}

.text-font {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.text-font-200 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.text-font-500 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.text-font-700{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.site-header-main-header {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 93px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.site-header-logo {
    order: 1;
    flex-shrink: 0;
    flex-grow: 3;
    flex-basis: 200px;
}

.site-header-logo img {
    width: 300px;
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0 0 0;
    padding-bottom: 13px;
}

#site-header-menu {
    order: 2;
    flex-shrink: 1;
    flex-grow: 6;
    flex-basis: 600px;
    margin: 0 20px 0 20px;
}

#site-header-menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px;
    font-size: 30px;
}

.site-header-profile {
    order: 3;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 0 20px 0 0;
}

.site-header-logo, #site-header-menu, .site-header-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-header-profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.site-header-profile img {
    margin: 0 5px 0 5px;
    display: flex;
    width: 4vw;
    height: 4vw;
    min-width: 55px;
    min-height: 55px;
    border-radius: 200px;
    background: #d9d9d9;
}

#site-header-profile-div-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

#site-header-dropdown-menu-login {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    padding: 10px 10px 10px 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
    transition: visibility 0.2s;
}

#site-header-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#site-header-signup-a1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #69A6E3;
    border: #69A6E3 solid 1px;
    height: 20px;
    width: 160px;
    border-radius: 20px;
}

#site-header-signup-a1:hover {
    color: #69A6E3;
    background: #D9D9D9;
    border: grey solid 1px;
}

#site-header-signup-a2:hover {
    color: #69A6E3;
}

#site-header-profile-logo:hover + #site-header-dropdown-menu-login, #site-header-dropdown-menu-login:hover {
    visibility: visible;

}

.site-header-dropdown-menu-line {
    padding: 1px;
    background: radial-gradient(#494848 30%, #D9D9D9, #D9D9D9);
    border-radius: 1px;
    margin: 10px 15px 10px 15px;
}

#site-header-dropdown-menu-login p, #site-header-dropdown-menu-login a{
    padding: 10px 15px 10px 15px;
    margin: 0 0 0 0;
    text-decoration: none;
    font-weight: 100;
    color: #808080;
}

#site-header-dropdown-menu-login a:hover {
    color: #69A6E3;
}


@media only screen and (max-width: 960px) {
    .site-header-logo {
        order: 1;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 50px;
    }

    #site-header-menu {
        order: 2;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 50px;
        margin: 10px 0 10px 0;
    }

    #site-header-menu a {
        margin: 0 10px 0 10px;
        font-size: 20px;
    }

    .site-header-profile {
        order: 3;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 50px;
        margin: 10px 0 7px 0;
    }

    #site-header-dropdown-menu-login {
        margin: 50px 0 0 0;
    }

    #site-header-dropdown-menu-login p, #site-header-dropdown-menu-login a, .site-header-dropdown-menu-line {
        margin: 5px 10px 5px 10px;
    }
}

@media only screen and (max-width: 615px) {
    .site-header-main-header {
        flex-wrap: wrap;
    }

    .site-header-logo {
        order: 1;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 50px;
    }

    #site-header-menu {
        order: 3;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 50px;
        margin: 0 0 10px 0;
    }

    #site-header-menu a {
        margin: 0 10px 0 10px;
        font-size: 20px;
    }

    .site-header-profile {
        order: 2;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 50px;
        margin: 0 0 0 0;
    }

    .site-header-profile {
        justify-content: end;
    }

    #profile-img-1 {
        margin: 0 15px 0 0;
    }

    #profile-img-2 {
        margin: 0 35px 0 0;
    }

}

@media only screen and (max-width: 350px) {
    .site-header-profile {
        justify-content: space-around;
    }

    #profile-img-1 {
        margin: 0 0 0 0;
    }

    #profile-img-2 {
        margin: 0 0 0 0;
    }
}